In [1]:
# Import all necessary library
import pandas as pd 
import numpy as np

# visualization library
import matplotlib.pyplot as plt

In [2]:
# Loading the dataset

df = pd.read_csv(r'E:\Hochschule Ansbach\Thesis\DATA\SCM_data.csv',date_parser=True )

In [3]:
# see  randomly any 10 rows
df.sample(10)

,Unnamed: 0,Actual shipping days,Estimated shipping days,Delivery Status,Late_risk,Category,Customer City,Customer Segment,Department,Orders Date,Order Item Product Price,Quantity,Sales,Order Item Total,Order Status,Product Name,Product Price,Shipping date,Shipping Mode
58178,58178,2,4,Advance shipping,0,Electronics,Caguas,Consumer,Outdoors,03-12-15 19:10,47.990002,5,239.949997,199.160004,COMPLETE,Titleist Pro V1x Golf Balls,47.990002,3/14/2015 19:10,Standard Class
8908,8908,6,4,Late delivery,1,Cleats,Virginia Beach,Corporate,Apparel,07-08-15 1:50,59.990002,2,119.980003,113.980003,ON_HOLD,Perfect Fitness Perfect Rip Deck,59.990002,7/14/2015 1:50,Standard Class
94645,94645,4,4,Shipping on time,0,Cardio Equipment,Henderson,Consumer,Footwear,6/25/2016 19:44,99.989998,1,99.989998,98.989998,COMPLETE,Nike Men's Free 5.0+ Running Shoe,99.989998,6/29/2016 19:44,Standard Class
51163,51163,2,1,Late delivery,1,Golf Shoes,North Las Vegas,Consumer,Outdoors,4/27/2017 12:39,108.000000,1,108.000000,100.440002,COMPLETE,LIJA Women's Button Golf Dress,108.000000,4/29/2017 12:39,First Class
108345,108345,5,4,Late delivery,1,Cleats,Saint Louis,Consumer,Apparel,7/20/2015 4:16,59.990002,4,239.960007,239.960007,PENDING_PAYMENT,Perfect Fitness Perfect Rip Deck,59.990002,7/25/2015 4:16,Standard Class
103700,103700,5,4,Late delivery,1,Water Sports,Caguas,Corporate,Fan Shop,8/25/2015 0:22,199.990005,1,199.990005,185.990005,COMPLETE,Pelican Sunstream 100 Kayak,199.990005,8/30/2015 0:22,Standard Class
110245,110245,2,1,Late delivery,1,Cleats,Hesperia,Consumer,Apparel,12/30/2015 6:40,59.990002,1,59.990002,56.689999,PENDING,Perfect Fitness Perfect Rip Deck,59.990002,01-01-16 6:40,First Class
121298,121298,5,4,Late delivery,1,Baseball & Softball,Mission Viejo,Consumer,Fitness,05-01-17 5:38,159.990005,1,159.990005,148.789993,PENDING,adidas Brazuca 2014 Official Match Ball,159.990005,05-06-17 5:38,Standard Class
84797,84797,3,2,Late delivery,1,Cleats,Sacramento,Corporate,Apparel,01-08-17 14:01,59.990002,5,299.950012,263.959992,PROCESSING,Perfect Fitness Perfect Rip Deck,59.990002,01-11-17 14:01,Second Class
102200,102200,4,4,Shipping on time,0,Water Sports,Caguas,Consumer,Fan Shop,11/30/2015 21:04,199.990005,1,199.990005,197.990005,PENDING_PAYMENT,Pelican Sunstream 100 Kayak,199.990005,12-04-15 21:04,Standard Class

In [4]:
# droping unwanted columns
df=df.drop(columns='Unnamed: 0')

In [5]:
# printing 1st 5 rows
df.head()

,Actual shipping days,Estimated shipping days,Delivery Status,Late_risk,Category,Customer City,Customer Segment,Department,Orders Date,Order Item Product Price,Quantity,Sales,Order Item Total,Order Status,Product Name,Product Price,Shipping date,Shipping Mode
0,3,4,Advance shipping,0,Sporting Goods,Caguas,Consumer,Fitness,1/31/2018 22:56,327.75,1,327.75,314.640015,COMPLETE,Smart watch,327.75,02-03-18 22:56,Standard Class
1,5,4,Late delivery,1,Sporting Goods,Caguas,Consumer,Fitness,1/13/2018 12:27,327.75,1,327.75,311.359985,PENDING,Smart watch,327.75,1/18/2018 12:27,Standard Class
2,4,4,Shipping on time,0,Sporting Goods,San Jose,Consumer,Fitness,1/13/2018 12:06,327.75,1,327.75,309.720001,CLOSED,Smart watch,327.75,1/17/2018 12:06,Standard Class
3,3,4,Advance shipping,0,Sporting Goods,Los Angeles,Home Office,Fitness,1/13/2018 11:45,327.75,1,327.75,304.809998,COMPLETE,Smart watch,327.75,1/16/2018 11:45,Standard Class
4,2,4,Advance shipping,0,Sporting Goods,Caguas,Corporate,Fitness,1/13/2018 11:24,327.75,1,327.75,298.250000,PENDING_PAYMENT,Smart watch,327.75,1/15/2018 11:24,Standard Class

# EDA

In [6]:
# describe method for numeric columns
df.describe()

,Actual shipping days,Estimated shipping days,Late_risk,Order Item Product Price,Quantity,Sales,Order Item Total,Product Price
count,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000,180519.000000
mean,3.497654,2.931847,0.548291,141.232550,2.127638,203.772096,183.107609,141.232550
std,1.623722,1.374449,0.497664,139.732492,1.453451,132.273077,120.043670,139.732492
min,0.000000,0.000000,0.000000,9.990000,1.000000,9.990000,7.490000,9.990000
25%,2.000000,2.000000,0.000000,50.000000,1.000000,119.980003,104.379997,50.000000
50%,3.000000,4.000000,1.000000,59.990002,1.000000,199.919998,163.990005,59.990002
75%,5.000000,4.000000,1.000000,199.990005,3.000000,299.950012,247.399994,199.990005
max,6.000000,4.000000,1.000000,1999.989990,5.000000,1999.989990,1939.989990,1999.989990

In [7]:
# The describe method for non-numeric columns
df.describe(exclude='number')

,Delivery Status,Category,Customer City,Customer Segment,Department,Orders Date,Order Status,Product Name,Shipping date,Shipping Mode
count,180519,180519,180519,180519,180519,180519,180519,180519,180519,180519
unique,4,50,563,3,11,65752,9,118,63701,4
top,Late delivery,Cleats,Caguas,Consumer,Fan Shop,9/17/2017 21:23,COMPLETE,Perfect Fitness Perfect Rip Deck,05-09-15 18:02,Standard Class
freq,98977,24551,66770,93504,66861,5,59491,24515,10,107752

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Actual shipping days      180519 non-null  int64
 1   Estimated shipping days   180519 non-null  int64
 2   Delivery Status           180519 non-null  object
 3   Late_risk                 180519 non-null  int64
 4   Category                  180519 non-null  object
 5   Customer City             180519 non-null  object
 6   Customer Segment          180519 non-null  object
 7   Department                180519 non-null  object
 8   Orders Date               180519 non-null  object
 9   Order Item Product Price  180519 non-null  float64
 10  Quantity                  180519 non-null  int64
 11  Sales                     180519 non-null  float64
 12  Order Item Total          180519 non-null  float64
 13  Order Status              180519 non-null  object
 14  Product Name              180519 non-null  object
 15  Product Price             180519 non-null  float64
 16  Shipping date             180519 non-null  object
 17  Shipping Mode             180519 non-null  object
dtypes: float64(4), int64(4), object(10)
memory usage: 24.8+ MB

# Visual EDA
pd.plotting.scatter_matrix(df,  figsize = [20, 20],s=0.5, marker = 'D')

plt.xticks(rotation=90)
plt.show()

# Preprocessing

In [9]:
# Drop non relevant columns 

df.drop(columns=['Actual shipping days','Estimated shipping days','Product Name','Delivery Status','Shipping date', 'Order Status', 'Order Item Product Price', 'Product Price'] ,inplace=True)

In [10]:
# look 1st 5 rows
df.head()

,Late_risk,Category,Customer City,Customer Segment,Department,Orders Date,Quantity,Sales,Order Item Total,Shipping Mode
0,0,Sporting Goods,Caguas,Consumer,Fitness,1/31/2018 22:56,1,327.75,314.640015,Standard Class
1,1,Sporting Goods,Caguas,Consumer,Fitness,1/13/2018 12:27,1,327.75,311.359985,Standard Class
2,0,Sporting Goods,San Jose,Consumer,Fitness,1/13/2018 12:06,1,327.75,309.720001,Standard Class
3,0,Sporting Goods,Los Angeles,Home Office,Fitness,1/13/2018 11:45,1,327.75,304.809998,Standard Class
4,0,Sporting Goods,Caguas,Corporate,Fitness,1/13/2018 11:24,1,327.75,298.250000,Standard Class

### Limiting columns

In [11]:
# how many times each Category occure 
counts = df['Category'].value_counts()
print(counts)

Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Trade-In                  974
Video Games               838
Children's Clothing       652
Women's Clothing          650
Baseball & Softball       632
Hockey                    614
Cameras                   592
Toys                      529
Golf Shoes                524
Pet Supplies              492
Garden                    484
Crafts                    484
DVDs                      483
Computers                 442
Golf Apparel              441
Hunting & Shooting        440
Music                     434
Consumer Electronics      431
Boxing & MMA              423
Books                     405
Kids' Golf Clubs          384
Health and Beauty         362
Sporting Goods            357
Lacrosse                  343
Tennis & Racquet          328
Fitness Accessories       309
Men's Golf Clubs          283
CDs                       271
Men's Clothing            208
Baby                      207
Women's Golf Clubs        181
Soccer                    138
Strength Training         111
As Seen on  TV!            68
Basketball                 67
Golf Bags & Carts          61
Name: Category, dtype: int64

In [12]:
# filtering and restricting the Category
mask = df['Category'].isin(counts[counts >= 1070].index)
df= df[mask]

In [13]:
#  how many times each Category occure  after masking
print(df['Category'].value_counts())

Cleats                  24551
Men's Footwear          22246
Women's Apparel         21035
Indoor/Outdoor Games    19298
Fishing                 17325
Water Sports            15540
Camping & Hiking        13729
Cardio Equipment        12487
Shop By Sport           10984
Electronics              3156
Accessories              1780
Golf Balls               1475
Girls' Apparel           1201
Golf Gloves              1070
Name: Category, dtype: int64

#### Encoding dummy variables

# Encoding dummy variables
df= pd.get_dummies(df, columns=['Department','Shipping Mode'], drop_first=True)


df.head()

### Approach - Label Encoding on "Customer Segment column"

In [14]:
# Get value counts on DataFrame
df.groupby('Customer Segment').count()

,Late_risk,Category,Customer City,Department,Orders Date,Quantity,Sales,Order Item Total,Shipping Mode
Customer Segment,,,,,,,,,
Consumer,85968,85968,85968,85968,85968,85968,85968,85968,85968
Corporate,50341,50341,50341,50341,50341,50341,50341,50341,50341
Home Office,29568,29568,29568,29568,29568,29568,29568,29568,29568

In [15]:
# see the data type
df['Customer Segment'].dtype

dtype('O')

In [16]:
#Approach  - Label Encoding
# One trick you can use in pandas is to convert a column to a category, then use those category values for your label encoding:
# Then you can assign the encoded variable to a new column using the cat.codes accessor:
# here categorized each of the variables into numbers by using
#  casting to category data.

df["Customer Segment"] = df["Customer Segment"].astype('category')


# assign the encoded variable to a new column using the cat.codes accessor:
# to access ".cat" we have to convert the column intio 'categorical' datatype
df['Customer Segment cat']=df['Customer Segment'].cat.codes

print(df.head())

print('\n','Unique values' ,df['Customer Segment cat'].unique())

    Late_risk         Category Customer City Customer Segment Department  \
48          1           Cleats       Bayamon      Home Office    Apparel
49          0    Shop By Sport        Caguas      Home Office       Golf
50          1  Women's Apparel        Caguas      Home Office       Golf
51          0    Shop By Sport        Caguas      Home Office       Golf
52          1  Women's Apparel        Caguas      Home Office       Golf

         Orders Date  Quantity       Sales  Order Item Total Shipping Mode  \
48   2/24/2016 13:57         2  119.980003        115.180000  Second Class
49  10/25/2016 14:39         2   79.980003         79.180000  Second Class
50    3/30/2016 4:37         2  100.000000         96.000000  Second Class
51   10/30/2016 1:31         2   79.980003         75.980003  Second Class
52   11/28/2016 1:18         2  100.000000         91.000000  Second Class

    Customer Segment cat
48                     2
49                     2
50                     2
51                     2
52                     2

 Unique values [2 0 1]

In [17]:
# After label encoding , what is the  cat code now.
df['Customer Segment cat'].unique()

array([2, 0, 1], dtype=int8)

In [18]:
#to know the labels assigned by astype('category').cat.codes?


print(df['Customer Segment'].cat.categories[0])
print(df['Customer Segment'].cat.categories[1])
print(df['Customer Segment'].cat.categories[2])

Consumer
Corporate
Home Office

In [19]:
# droping  'Customer Segment' column

df.drop(columns='Customer Segment', inplace=True)

In [20]:
# first 5 rows
df.head()

,Late_risk,Category,Customer City,Department,Orders Date,Quantity,Sales,Order Item Total,Shipping Mode,Customer Segment cat
48,1,Cleats,Bayamon,Apparel,2/24/2016 13:57,2,119.980003,115.180000,Second Class,2
49,0,Shop By Sport,Caguas,Golf,10/25/2016 14:39,2,79.980003,79.180000,Second Class,2
50,1,Women's Apparel,Caguas,Golf,3/30/2016 4:37,2,100.000000,96.000000,Second Class,2
51,0,Shop By Sport,Caguas,Golf,10/30/2016 1:31,2,79.980003,75.980003,Second Class,2
52,1,Women's Apparel,Caguas,Golf,11/28/2016 1:18,2,100.000000,91.000000,Second Class,2

In [21]:
# Randomly any 1o rows
df.sample(10)

,Late_risk,Category,Customer City,Department,Orders Date,Quantity,Sales,Order Item Total,Shipping Mode,Customer Segment cat
179656,1,Fishing,Brooklyn,Fan Shop,03-04-16 14:06,1,399.980011,377.980011,First Class,0
96377,1,Cardio Equipment,Clovis,Footwear,1/21/2015 18:32,1,99.989998,86.989998,First Class,2
140030,0,Cleats,Caguas,Apparel,4/19/2015 4:45,5,299.950012,293.950012,Standard Class,1
61230,1,Water Sports,Brooklyn,Fan Shop,6/17/2015 18:51,1,199.990005,179.990005,Standard Class,0
115306,1,Fishing,Caguas,Fan Shop,09-12-17 6:09,1,399.980011,395.980011,Standard Class,2
99528,0,Indoor/Outdoor Games,Caguas,Fan Shop,08-05-16 2:41,3,149.940002,125.949997,Standard Class,0
127993,1,Women's Apparel,Fresno,Golf,03-01-16 6:56,2,100.000000,99.000000,Standard Class,0
37544,1,Cardio Equipment,Aurora,Footwear,8/31/2016 16:18,3,299.970001,284.970001,Second Class,0
63762,0,Accessories,Dallas,Outdoors,03-06-17 7:28,2,49.980000,44.980000,Standard Class,2
77462,0,Indoor/Outdoor Games,Caguas,Fan Shop,09-10-17 5:06,1,49.980000,47.980000,First Class,1

#### Feature  Engineering

In [22]:
# Converting the 'Orders Date'  column to date time
df["date_time"]=  pd.to_datetime(df['Orders Date'])

In [23]:
# drop  'Orders Date' columns 
df.drop(columns='Orders Date', inplace=True)

In [24]:
# extracting month
df['Month'] = df["date_time"].dt.month

In [25]:
# drop  'date_time' columns as we extracted month from it.now it is not needed 
df.drop(columns='date_time', inplace=True)

#### knowing the Month names

In [26]:
# sanity check
uniq_month=np.sort(df.Month.unique())



print(uniq_month)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [27]:
# which integer means which month name 
import calendar
for var in uniq_month :
    print(str(var) + " = " + str(calendar.month_name[var]))

1 = January
2 = February
3 = March
4 = April
5 = May
6 = June
7 = July
8 = August
9 = September
10 = October
11 = November
12 = December

In [28]:
# print 1st 5 rows
df.head()

,Late_risk,Category,Customer City,Department,Quantity,Sales,Order Item Total,Shipping Mode,Customer Segment cat,Month
48,1,Cleats,Bayamon,Apparel,2,119.980003,115.180000,Second Class,2,2
49,0,Shop By Sport,Caguas,Golf,2,79.980003,79.180000,Second Class,2,10
50,1,Women's Apparel,Caguas,Golf,2,100.000000,96.000000,Second Class,2,3
51,0,Shop By Sport,Caguas,Golf,2,79.980003,75.980003,Second Class,2,10
52,1,Women's Apparel,Caguas,Golf,2,100.000000,91.000000,Second Class,2,11

#### Approach - Count/Frequency Encoding on "Customer City " Column

In [29]:
# value counts  on column
df['Customer City'].value_counts()

Caguas           61337
Chicago           3570
Brooklyn          3139
Los Angeles       3137
New York          1687
                 ...
Bartlett            25
National City       24
Ponce               20
Malden              18
Freehold            13
Name: Customer City, Length: 562, dtype: int64

In [30]:
# look for unique values in columns
df['Customer City'].unique()

array(['Bayamon', 'Caguas', 'Guayama', 'Juana Diaz', 'Freeport',
       'Fort Washington', 'Bakersfield', 'Corona', 'Cincinnati',
       'Germantown', 'Carrollton', 'Houston', 'Carlisle', 'Los Angeles',
       'Ewa Beach', 'Rome', 'Vista', 'Fort Worth', 'Fond Du Lac',
       'Philadelphia', 'Ontario', 'Oviedo', 'Buffalo', 'Honolulu',
       'Oceanside', 'North Tonawanda', 'Clovis', 'Jamaica',
       'Granite City', 'Medford', 'Pomona', 'Tempe', 'Santa Ana', 'York',
       'Aurora', 'Simi Valley', 'Silver Spring', 'Saint Paul',
       'San Antonio', 'Bronx', 'Greenville', 'Morristown', 'San Diego',
       'Oxnard', 'Miami', 'Albuquerque', 'Lutz', 'Bend', 'East Brunswick',
       'Lancaster', 'Hampton', 'Porterville', 'Portland', 'Strongsville',
       'El Paso', 'Del Rio', 'Bountiful', 'Kent', 'Chicago', 'Plymouth',
       'Far Rockaway', 'Detroit', 'Santa Clara', 'Union', 'Long Beach',
       'Westminster', 'Azusa', 'Fort Lauderdale', 'Princeton',
       'Perth Amboy', 'Loveland', 'Virginia Beach', 'Louisville',
       'Lockport', 'Staten Island', 'Tucson', 'Cleveland', 'Webster',
       'Martinsburg', 'Tallahassee', 'Jacksonville', 'Woonsocket',
       'Stockton', 'Lithonia', 'Alhambra', 'New Haven', 'Phoenix',
       'Kenner', 'Washington', 'Holland', 'Morrisville', 'Memphis',
       'Federal Way', 'West Covina', 'Ventura', 'Valrico', 'Kaneohe',
       'Brooklyn', 'Lodi', 'San Jose', 'Murfreesboro', 'Carlsbad',
       'Hamilton', 'New York', 'Hayward', 'Bridgeton', 'Bay Shore',
       'Palatine', 'Smyrna', 'Van Nuys', 'Opa Locka', 'Edison', 'Baytown',
       'Sylmar', 'Burnsville', 'Huntington Station', 'San Juan',
       'Vega Baja', 'Mayaguez', 'Humacao', 'Arecibo', 'San Sebastian',
       'Eugene', 'Algonquin', 'Indianapolis', 'Buena Park', 'Catonsville',
       'Marietta', 'Jersey City', 'New Bedford', 'Newburgh', 'Lansdale',
       'Baltimore', 'Fullerton', 'Sacramento', 'Greensboro', 'Lakewood',
       'Roseburg', 'Modesto', 'Watsonville', 'Meridian', 'Endicott',
       'Katy', 'Visalia', 'Lompoc', 'Ogden', 'Raleigh',
       'Hacienda Heights', 'Union City', 'Hollywood', 'Bolingbrook',
       'West Lafayette', 'Astoria', 'Newark', 'Woodbridge', 'Weslaco',
       'Dallas', 'Bell Gardens', 'La Mirada', 'Billings', 'Mission Viejo',
       'Atlanta', 'Madison', 'South San Francisco', 'Methuen',
       'Costa Mesa', 'Glen Burnie', 'Peoria', 'Winnetka', 'Mcallen',
       'Joliet', 'Brownsville', 'Pawtucket', 'Columbia',
       'Colorado Springs', 'Quincy', 'Pittsfield', 'Chino', 'Marion',
       'North Hills', 'Salina', 'Hyattsville', 'North Richland Hills',
       'Lawrence', 'Fremont', 'Columbus', 'Pompano Beach',
       'Rowland Heights', 'Gardena', 'Cicero', 'Riverside', 'Asheboro',
       'La Crosse', 'Florissant', 'Encinitas', 'Canyon Country', 'Ithaca',
       'Allentown', 'Escondido', 'Martinez', 'Troy', 'North Las Vegas',
       'Arlington', 'Tonawanda', 'Davis', 'Chandler', 'Elgin', 'Palmdale',
       'Massapequa', 'Pittsburg', 'West New York', 'Clementon', 'Orlando',
       'Hanover', 'Glendale', 'Enfield', 'Baldwin Park', 'Elyria',
       'Chino Hills', 'Wheaton', 'Amarillo', 'Toms River', 'Wyandotte',
       'Mililani', 'Harvey', 'Mechanicsburg', 'Opelousas', 'Kailua',
       'Norfolk', 'Elmhurst', 'Sugar Land', 'Chillicothe', 'Canoga Park',
       'Jackson', 'Moreno Valley', 'New Orleans', 'San Benito',
       'New Castle', 'Bloomfield', 'Cypress', 'Marrero', 'Grand Prairie',
       'Greeley', 'Littleton', 'Longmont', 'Chesapeake', 'Englewood',
       'Arlington Heights', 'Aguadilla', 'Carolina', 'Yauco',
       'Saint Peters', 'Augusta', 'Waipahu', 'Chapel Hill', 'Ypsilanti',
       'East Lansing', 'Milwaukee', 'West Orange', 'Manchester',
       'La Puente', 'Victorville', 'Richmond', 'Cupertino', 'Eagle Pass',
       'Fontana', 'Ballwin', 'New Braunfels', 'Saint Charles',
       'Spring Valley', 'Las Vegas', 'Goose Creek', 'Tampa', 'Irvington',
       'Pharr', 'Yonkers', 'El Monte', 'Reynoldsburg', 'Hamtramck',
       'Medina', 'Highland', 'Roseville', 'Jonesboro', 'Elk Grove',
       'Montebello', 'San Francisco', 'Glenview', 'Rock Hill', 'Austin',
       'Scottsdale', 'Santa Cruz', 'Oregon City', 'Annandale', 'Plano',
       'Piscataway', 'Bismarck', 'Pekin', 'El Cajon', 'Hilliard',
       'Orange Park', 'Tustin', 'Decatur', 'San Pablo', 'Hialeah',
       'Anaheim', 'Douglasville', 'Oak Lawn', 'Henderson', 'Cumberland',
       'College Station', 'Round Rock', 'Mesquite', 'Broken Arrow',
       'Milpitas', 'Lombard', 'Redmond', 'Findlay', 'La Habra', 'Albany',
       'Laguna Hills', 'Panorama City', 'Mesa', 'Rancho Cordova',
       'San Bernardino', 'Apex', 'South El Monte', 'Denver', 'Irving',
       'Blacksburg', 'Dorchester Center', 'Potomac', 'Carmichael',
       'Stone Mountain', 'Goleta', 'Winter Park', 'Hagerstown', 'Alameda',
       'Saint Louis', 'Pico Rivera', 'Chula Vista', 'Canton',
       'Lawrenceville', 'Salt Lake City', 'Hollister', 'Beloit',
       'North Hollywood', 'Salinas', 'Lenoir', 'New Brunswick',
       'Beaverton', 'Chicago Heights', 'Hesperia', 'Cary', 'Sanford',
       'Laredo', 'Westland', 'Stockbridge', 'Garden Grove',
       'Carol Stream', 'Paramount', 'Lynwood', 'Revere', 'Westerville',
       'Cordova', 'Taylor', 'Hanford', 'Rialto', 'Mchenry', 'Mission',
       'Salem', 'Duluth', 'Danbury', 'Frankfort', 'Upland', 'Rosemead',
       'Mount Pleasant', 'Roswell', 'Provo', 'Lake Forest',
       'West Chester', 'Lindenhurst', 'Stamford', 'Woodside', 'Norcross',
       'Fresno', 'North Bergen', 'Zanesville', 'Middletown',
       'Diamond Bar', 'Painesville', 'Manati', 'Canovanas', 'Rio Grande',
       'Ponce', 'Toa Alta', 'Irwin', 'South Ozone Park', 'Ridgewood',
       'Bowling Green', 'Richardson', 'Rochester', 'Carson', 'Sun Valley',
       'South Richmond Hill', 'Lewisville', 'Gilroy', 'Bellflower',
       'Santee', 'Harlingen', 'Alpharetta', 'Sunnyvale', 'New Albany',
       'Annapolis', 'Walnut', 'Denton', 'Temecula', 'Tinley Park',
       'Dearborn', 'Fargo', 'Dundalk', 'Rio Rancho', 'Yuma',
       'Forest Hills', 'Crown Point', 'Lawton', 'Fayetteville', 'Milford',
       'Bartlett', 'Moline', 'Reno', 'Passaic', 'Reseda', 'Springfield',
       'Lynnwood', 'Levittown', 'Wayne', 'Metairie', 'Rego Park',
       'Campbell', 'Wheeling', 'Ann Arbor', 'Wichita', 'Hawthorne',
       'Napa', 'Berwyn', 'Hickory', 'Sheboygan', 'Fountain Valley',
       'Las Cruces', 'Gaithersburg', 'Apopka', 'Folsom', 'El Centro',
       'Jackson Heights', 'Pacoima', 'Mount Prospect', 'Stafford',
       'Hendersonville', 'Highland Park', 'Clearfield', 'Daly City',
       'Seattle', 'La Mesa', 'Antioch', 'Saginaw', 'Placentia', 'Conway',
       'West Jordan', 'Sandusky', 'San Marcos', 'San Pedro', 'Knoxville',
       'Huntington Park', 'Greensburg', 'Cerritos', 'Poway', 'Garland',
       'O Fallon', 'Chambersburg', 'Normal', 'Lynn', 'Mentor', 'Bensalem',
       'Laguna Niguel', 'Bristol', 'Williamsport', 'Summerville',
       'Merced', 'Brockton', 'Olathe', 'Michigan City', 'Norwalk',
       'Brighton', 'Wyoming', 'Howell', 'Lilburn', 'Fairfield', 'Vallejo',
       'West Haven', 'Dayton', 'Pasadena', 'Trujillo Alto', 'San Ramon',
       'Compton', 'South Gate', 'Warren', 'Clarksville', 'Muskegon',
       'Brandon', 'Rancho Cucamonga', 'Longview', 'Hempstead',
       'Santa Maria', 'Doylestown', 'Parkville', 'Colton',
       'Huntington Beach', 'Charlotte', 'Indio', 'Plainfield',
       'Bellingham', 'Flushing', 'Bayonne', 'Grove City', 'Spring',
       'Livermore', 'National City', 'Santa Fe', 'Edinburg', 'Palo Alto',
       'Henrico', 'Des Plaines', 'Massillon', 'Birmingham', 'Broomfield',
       'Tracy', 'Nashville', 'Guaynabo', 'Cayey', 'Waukegan', 'Tulare',
       'Oakland', 'Crystal Lake', 'Citrus Heights', 'Peabody', 'Spokane',
       'Dubuque', 'Granada Hills', 'Everett', 'Brentwood', 'Morganton',
       'Vacaville', 'Madera', 'Wilkes Barre', 'Malden', 'Powder Springs',
       'Gwynn Oak', 'Taunton', 'Freehold', 'Sumner', 'Toa Baja',
       'Wilmington'], dtype=object)

In [31]:
# how many unique values in column
len(df['Customer City'].unique())

562

In [32]:
# Let's obtain the counts (with sorted   descending order) of each of the labels in variable/column 'Category'

df['Customer City'].value_counts(sort=True)

Caguas           61337
Chicago           3570
Brooklyn          3139
Los Angeles       3137
New York          1687
                 ...
Bartlett            25
National City       24
Ponce               20
Malden              18
Freehold            13
Name: Customer City, Length: 562, dtype: int64

In [33]:
# checking is there any of labels has same count or not
from collections import Counter
A=df['Customer City'].value_counts(sort=True).unique()


print(type(A))

Counter(A)

<class 'numpy.ndarray'>

Counter({61337: 1,
         3570: 1,
         3139: 1,
         3137: 1,
         1687: 1,
         1466: 1,
         1388: 1,
         1325: 1,
         1213: 1,
         1186: 1,
         1063: 1,
         938: 1,
         918: 1,
         890: 1,
         873: 1,
         858: 1,
         729: 1,
         704: 1,
         664: 1,
         655: 1,
         643: 1,
         597: 1,
         594: 1,
         583: 1,
         576: 1,
         560: 1,
         531: 1,
         530: 1,
         520: 1,
         517: 1,
         504: 1,
         499: 1,
         495: 1,
         489: 1,
         478: 1,
         452: 1,
         430: 1,
         424: 1,
         418: 1,
         417: 1,
         398: 1,
         389: 1,
         383: 1,
         381: 1,
         377: 1,
         373: 1,
         369: 1,
         363: 1,
         362: 1,
         353: 1,
         352: 1,
         332: 1,
         327: 1,
         319: 1,
         317: 1,
         316: 1,
         311: 1,
         310: 1,
         309: 1,
         305: 1,
         304: 1,
         296: 1,
         295: 1,
         292: 1,
         291: 1,
         283: 1,
         282: 1,
         279: 1,
         272: 1,
         269: 1,
         267: 1,
         266: 1,
         265: 1,
         261: 1,
         260: 1,
         258: 1,
         256: 1,
         255: 1,
         252: 1,
         249: 1,
         246: 1,
         243: 1,
         240: 1,
         239: 1,
         238: 1,
         232: 1,
         230: 1,
         228: 1,
         226: 1,
         225: 1,
         224: 1,
         223: 1,
         221: 1,
         220: 1,
         219: 1,
         218: 1,
         217: 1,
         214: 1,
         213: 1,
         208: 1,
         207: 1,
         206: 1,
         205: 1,
         203: 1,
         202: 1,
         201: 1,
         200: 1,
         199: 1,
         198: 1,
         196: 1,
         195: 1,
         193: 1,
         191: 1,
         190: 1,
         189: 1,
         184: 1,
         183: 1,
         182: 1,
         181: 1,
         180: 1,
         179: 1,
         177: 1,
         176: 1,
         175: 1,
         174: 1,
         172: 1,
         171: 1,
         170: 1,
         169: 1,
         167: 1,
         165: 1,
         164: 1,
         163: 1,
         162: 1,
         160: 1,
         159: 1,
         157: 1,
         156: 1,
         155: 1,
         154: 1,
         153: 1,
         152: 1,
         151: 1,
         150: 1,
         149: 1,
         148: 1,
         146: 1,
         145: 1,
         144: 1,
         143: 1,
         142: 1,
         141: 1,
         140: 1,
         139: 1,
         138: 1,
         136: 1,
         135: 1,
         133: 1,
         132: 1,
         131: 1,
         130: 1,
         129: 1,
         128: 1,
         127: 1,
         126: 1,
         125: 1,
         124: 1,
         123: 1,
         122: 1,
         121: 1,
         120: 1,
         119: 1,
         118: 1,
         117: 1,
         116: 1,
         115: 1,
         114: 1,
         113: 1,
         112: 1,
         111: 1,
         110: 1,
         109: 1,
         108: 1,
         107: 1,
         106: 1,
         105: 1,
         104: 1,
         103: 1,
         102: 1,
         101: 1,
         100: 1,
         99: 1,
         98: 1,
         97: 1,
         96: 1,
         95: 1,
         94: 1,
         93: 1,
         92: 1,
         91: 1,
         90: 1,
         89: 1,
         88: 1,
         87: 1,
         86: 1,
         85: 1,
         84: 1,
         83: 1,
         82: 1,
         81: 1,
         80: 1,
         79: 1,
         78: 1,
         77: 1,
         76: 1,
         75: 1,
         74: 1,
         72: 1,
         71: 1,
         70: 1,
         69: 1,
         68: 1,
         67: 1,
         66: 1,
         65: 1,
         64: 1,
         63: 1,
         62: 1,
         61: 1,
         60: 1,
         59: 1,
         58: 1,
         57: 1,
         56: 1,
         55: 1,
         54: 1,
         52: 1,
         50: 1,
         49: 1,
         48: 1,
         47: 1,
         45: 1,
         44: 1,
         43: 1,
         42: 1,
         41: 1,
         40: 1,
         38: 1,
         37: 1,
         35: 1,
         34: 1,
         33: 1,
         32: 1,
         26: 1,
         25: 1,
         24: 1,
         20: 1,
         18: 1,
         13: 1})

In [34]:
# convert to dict, that is help for mapping later on.
# that will capture  in a dictonary  that we  can use to re-mapthe label

frequency_map= df['Customer City'].value_counts().to_dict()
print(frequency_map)

{'Caguas': 61337, 'Chicago': 3570, 'Brooklyn': 3139, 'Los Angeles': 3137, 'New York': 1687, 'Philadelphia': 1466, 'Bronx': 1388, 'San Diego': 1325, 'Miami': 1213, 'Houston': 1186, 'Las Vegas': 1063, 'Dallas': 938, 'Aurora': 918, 'Detroit': 890, 'San Jose': 873, 'Phoenix': 858, 'Cleveland': 729, 'Lancaster': 704, 'San Antonio': 664, 'Memphis': 655, 'Virginia Beach': 643, 'Fort Lauderdale': 597, 'El Paso': 594, 'Columbus': 583, 'Washington': 576, 'Honolulu': 560, 'Tucson': 531, 'Bakersfield': 530, 'Baltimore': 520, 'Albuquerque': 517, 'Long Beach': 504, 'Pompano Beach': 499, 'Newark': 495, 'Saint Paul': 489, 'Santa Ana': 478, 'New Orleans': 452, 'Tempe': 430, 'Hialeah': 424, 'Riverside': 418, 'Orlando': 417, 'San Francisco': 398, 'Fresno': 389, 'Corona': 383, 'Saint Louis': 381, 'Escondido': 377, 'Portland': 373, 'Atlanta': 369, 'Fort Worth': 363, 'Sacramento': 362, 'Ontario': 353, 'Tampa': 352, 'Laredo': 332, 'Florissant': 327, 'Elmhurst': 319, 'Antioch': 317, 'Richmond': 316, 'San Juan': 311, 'Salt Lake City': 310, 'Anaheim': 309, 'Buffalo': 305, 'West Chester': 304, 'Moreno Valley': 296, 'Marietta': 295, 'Elgin': 292, 'Oceanside': 292, 'Hayward': 291, 'Bayamon': 283, 'Mission Viejo': 282, 'Lakewood': 279, 'Austin': 272, 'Eugene': 269, 'Amarillo': 267, 'Columbia': 266, 'Jacksonville': 265, 'Simi Valley': 261, 'Jersey City': 260, 'Modesto': 258, 'Garden Grove': 256, 'Hollywood': 256, 'Sugar Land': 255, 'Fremont': 252, 'Oxnard': 249, 'Troy': 249, 'Jamaica': 246, 'Glendale': 243, 'Encinitas': 240, 'Roswell': 239, 'Bend': 238, 'Colorado Springs': 232, 'Pomona': 230, 'Middletown': 228, 'Spring Valley': 228, 'Strongsville': 228, 'West Covina': 226, 'Staten Island': 226, 'Irving': 226, 'Apex': 225, 'Hamilton': 224, 'Stockton': 224, 'San Marcos': 223, 'San Bernardino': 223, 'Salem': 221, 'Van Nuys': 220, 'Winnetka': 220, 'Brownsville': 220, 'Hyattsville': 219, 'Fullerton': 218, 'York': 218, 'Greensboro': 217, 'San Benito': 214, 'Denver': 213, 'Chandler': 208, 'Costa Mesa': 208, 'Chula Vista': 207, 'Dearborn': 206, 'Newburgh': 205, 'Union City': 205, 'Lockport': 203, 'Greeley': 203, 'Carlisle': 202, 'Plano': 201, 'Rowland Heights': 200, 'Greenville': 200, 'Milford': 199, 'Compton': 199, 'Humacao': 199, 'Princeton': 198, 'Quincy': 196, 'Tustin': 195, 'Mesa': 193, 'Tallahassee': 193, 'Endicott': 193, 'Freeport': 191, 'Jackson': 191, 'Raleigh': 190, 'El Cajon': 189, 'Daly City': 184, 'North Hollywood': 184, 'Ventura': 183, 'Augusta': 182, 'Wichita': 181, 'Milwaukee': 181, 'Carlsbad': 180, 'Elyria': 180, 'Loveland': 180, 'Huntington Beach': 179, 'Highland': 179, 'Cumberland': 177, 'Oregon City': 177, 'Indianapolis': 176, 'Lake Forest': 176, 'Gardena': 175, 'Rome': 174, 'Vista': 174, 'Santa Cruz': 174, 'Moline': 174, 'Mililani': 172, 'Silver Spring': 171, 'Longmont': 171, 'Carol Stream': 170, 'Ann Arbor': 169, 'Mount Pleasant': 169, 'Carrollton': 167, 'Seattle': 167, 'Fairfield': 167, 'Sunnyvale': 165, 'Hamtramck': 165, 'Plymouth': 164, 'Louisville': 164, 'Manati': 163, 'Fontana': 163, 'Bridgeton': 163, 'Brighton': 163, 'La Crosse': 162, 'La Mesa': 162, 'Catonsville': 160, 'Opelousas': 159, 'Chesapeake': 159, 'Meridian': 157, 'North Richland Hills': 157, 'Walnut': 157, 'Rochester': 156, 'Woodbridge': 155, 'Mission': 154, 'Pekin': 154, 'Irwin': 153, 'Del Rio': 153, 'Canton': 152, 'New Bedford': 152, 'Fayetteville': 151, 'Wayne': 150, 'Piscataway': 150, 'Weslaco': 150, 'College Station': 149, 'Granada Hills': 149, 'Panorama City': 149, 'Murfreesboro': 148, 'Stockbridge': 146, 'Pharr': 146, 'North Las Vegas': 146, 'Ballwin': 145, 'Lawrence': 144, 'Harlingen': 144, 'Hanford': 144, 'Lenoir': 143, 'Carolina': 143, 'Carson': 143, 'Brandon': 143, 'Kent': 143, 'Ogden': 143, 'Porterville': 143, 'Tonawanda': 142, 'Mount Prospect': 142, 'La Mirada': 142, 'Bell Gardens': 141, 'Potomac': 140, 'Webster': 140, 'East Lansing': 140, 'Waipahu': 140, 'Opa Locka': 140, 'Orange Park': 139, 'Davis': 138, 'Dorchester Center': 136, 'Wyoming': 135, 'Broken Arrow': 135, 'Diamond Bar': 135, 'Cerritos': 133, 'Martinsburg': 133, 'Campbell': 132, 'Mechanicsburg': 132, 'Salinas': 132, 'Santa Clara': 132, 'North Hills': 131, 'Pawtucket': 131, 'Mayaguez': 130, 'Beloit': 130, 'Hickory': 130, 'Littleton': 130, 'Ypsilanti': 130, 'Toms River': 129, 'Stamford': 129, 'Azusa': 128, 'South Richmond Hill': 128, 'Yonkers': 128, 'Morristown': 128, 'New Haven': 127, 'Enfield': 127, 'Burnsville': 127, 'Frankfort': 127, 'Marrero': 126, 'Cordova': 126, 'Bellflower': 126, 'New Brunswick': 126, 'West Orange': 126, 'Bismarck': 126, 'Vega Baja': 126, 'Powder Springs': 126, 'Palatine': 125, 'Saint Charles': 124, 'Hampton': 124, 'Norfolk': 124, 'Livermore': 124, 'Wyandotte': 123, 'Plainfield': 123, 'Olathe': 122, 'Clearfield': 122, 'Hagerstown': 121, 'West Jordan': 121, 'Las Cruces': 121, 'Westland': 121, 'Milpitas': 121, 'Scottsdale': 120, 'Bowling Green': 120, 'San Sebastian': 120, 'South El Monte': 120, 'Salina': 120, 'Lawrenceville': 119, 'Napa': 119, 'Waukegan': 118, 'San Ramon': 118, 'Reynoldsburg': 118, 'El Monte': 118, 'El Centro': 117, 'Rio Grande': 117, 'Apopka': 116, 'Rego Park': 116, 'Warren': 115, 'Germantown': 115, 'Valrico': 115, 'Algonquin': 115, 'Roseville': 115, 'Hanover': 114, 'Saginaw': 114, 'Findlay': 113, 'Flushing': 113, 'Hendersonville': 113, 'Alameda': 113, 'South Ozone Park': 113, 'Montebello': 113, 'Joliet': 112, 'Zanesville': 111, 'Pittsfield': 111, 'Arecibo': 111, 'Methuen': 111, 'Far Rockaway': 110, 'Visalia': 110, 'Chapel Hill': 110, 'Madison': 110, 'Beaverton': 110, 'Winter Park': 110, 'Ewa Beach': 110, 'Levittown': 109, 'Pasadena': 109, 'Yauco': 109, 'Crystal Lake': 108, 'San Pablo': 108, 'Ridgewood': 107, 'Katy': 107, 'Lutz': 107, 'Round Rock': 107, 'Knoxville': 106, 'Redmond': 106, 'Guayama': 106, 'Dundalk': 106, 'Duluth': 105, 'Clovis': 105, 'Norcross': 105, 'Hilliard': 105, 'Goose Creek': 105, 'Westerville': 104, 'Chino': 104, 'Baldwin Park': 104, 'Elk Grove': 104, 'Cypress': 104, 'Hesperia': 103, 'Alhambra': 103, 'Fond Du Lac': 103, 'North Tonawanda': 103, 'Perth Amboy': 103, 'Watsonville': 103, 'Arlington': 102, 'Tulare': 102, 'Holland': 102, 'Carmichael': 101, 'Paramount': 101, 'Chillicothe': 101, 'Summerville': 101, 'Sanford': 101, 'New Albany': 101, 'Martinez': 101, 'Lombard': 101, 'Harvey': 100, 'Mesquite': 100, 'East Brunswick': 100, 'Metairie': 99, 'Oak Lawn': 98, 'Jonesboro': 98, 'Union': 98, 'Trujillo Alto': 98, 'Folsom': 98, 'Alpharetta': 97, 'Cary': 97, 'Kaneohe': 96, 'Provo': 96, 'West New York': 96, 'Wheaton': 96, 'Stone Mountain': 95, 'Annandale': 94, 'La Habra': 94, 'Baytown': 94, 'Richardson': 94, 'Cupertino': 94, 'Gilroy': 93, 'Fort Washington': 93, 'Wheeling': 93, 'Federal Way': 93, 'Pico Rivera': 92, 'Glenview': 92, 'Victorville': 92, 'Everett': 92, 'Lansdale': 91, 'Highland Park': 91, 'Pacoima': 91, 'Woonsocket': 91, 'Eagle Pass': 90, 'Granite City': 90, 'Guaynabo': 90, 'Bountiful': 89, 'Smyrna': 89, 'Rock Hill': 89, 'Massillon': 89, 'Fountain Valley': 89, 'Huntington Station': 88, 'Clarksville': 88, 'Peoria': 87, 'Charlotte': 87, 'Laguna Niguel': 87, 'Lompoc': 87, 'Denton': 87, 'Decatur': 86, 'Sheboygan': 86, 'Canoga Park': 86, 'O Fallon': 86, 'Cincinnati': 85, 'Canyon Country': 85, 'Annapolis': 85, 'North Bergen': 85, 'Bloomfield': 85, 'Hawthorne': 85, 'Howell': 85, 'Roseburg': 84, 'Manchester': 84, 'Doylestown': 83, 'Passaic': 83, 'Sylmar': 83, 'Brockton': 82, 'Palmdale': 82, 'Lynwood': 82, 'Muskegon': 82, 'Yuma': 81, 'Bristol': 81, 'Wilkes Barre': 81, 'Billings': 80, 'Woodside': 80, 'Rosemead': 80, 'Juana Diaz': 80, 'New Braunfels': 79, 'Vallejo': 79, 'Crown Point': 79, 'Medford': 79, 'Astoria': 78, 'South San Francisco': 78, 'Rancho Cordova': 78, 'Bensalem': 78, 'Morrisville': 78, 'Cicero': 78, 'Indio': 78, 'Sandusky': 77, 'Lynn': 77, 'Michigan City': 76, 'Irvington': 76, 'Englewood': 75, 'Placentia': 75, 'Clementon': 75, 'Garland': 75, 'Lynnwood': 75, 'West Haven': 75, 'Henrico': 75, 'Rancho Cucamonga': 74, 'Fargo': 74, 'Sun Valley': 74, 'Lawton': 74, 'Mentor': 72, 'Reseda': 72, 'Lilburn': 72, 'Massapequa': 72, 'West Lafayette': 71, 'Vacaville': 71, 'Bolingbrook': 71, 'Tinley Park': 71, 'Temecula': 71, 'Hollister': 70, 'Chino Hills': 70, 'Citrus Heights': 70, 'Painesville': 70, 'Kailua': 70, 'Westminster': 69, 'Henderson': 69, 'Greensburg': 69, 'Medina': 69, 'Rio Rancho': 68, 'Des Plaines': 68, 'Hacienda Heights': 68, 'Stafford': 67, 'South Gate': 67, 'Saint Peters': 67, 'Huntington Park': 67, 'Springfield': 67, 'Normal': 66, 'Danbury': 66, 'Broomfield': 66, 'Ithaca': 66, 'Mchenry': 65, 'Lewisville': 65, 'Parkville': 64, 'Albany': 64, 'Arlington Heights': 63, 'Berwyn': 63, 'Edison': 63, 'Forest Hills': 63, 'San Pedro': 62, 'Buena Park': 62, 'Santee': 62, 'Williamsport': 62, 'Laguna Hills': 62, 'Merced': 62, 'Bayonne': 61, 'New Castle': 61, 'Peabody': 60, 'Blacksburg': 60, 'Santa Fe': 59, 'Douglasville': 59, 'Revere': 59, 'Lindenhurst': 59, 'Longview': 59, 'Dayton': 59, 'Grove City': 59, 'Jackson Heights': 59, 'Gaithersburg': 59, 'Morganton': 59, 'Lithonia': 58, 'Asheboro': 58, 'Goleta': 57, 'Dubuque': 57, 'Colton': 56, 'Upland': 56, 'Oakland': 55, 'Madera': 54, 'Glen Burnie': 54, 'Pittsburg': 54, 'Mcallen': 52, 'Conway': 52, 'Taylor': 50, 'Cayey': 49, 'Nashville': 49, 'Kenner': 49, 'Bay Shore': 48, 'Grand Prairie': 48, 'Chicago Heights': 48, 'Aguadilla': 48, 'Spring': 48, 'La Puente': 48, 'Lodi': 47, 'Poway': 47, 'Bellingham': 47, 'Toa Baja': 45, 'Santa Maria': 44, 'Tracy': 44, 'Allentown': 44, 'Canovanas': 44, 'Chambersburg': 43, 'Wilmington': 43, 'Oviedo': 42, 'Norwalk': 42, 'Rialto': 41, 'Spokane': 41, 'Edinburg': 40, 'Palo Alto': 38, 'Toa Alta': 37, 'Brentwood': 35, 'Gwynn Oak': 34, 'Marion': 33, 'Reno': 32, 'Birmingham': 32, 'Hempstead': 32, 'Taunton': 32, 'Sumner': 26, 'Bartlett': 25, 'National City': 24, 'Ponce': 20, 'Malden': 18, 'Freehold': 13}

In [35]:
df['Customer City_map']= df['Customer City'].map(frequency_map)
# this code somple map for example 'Cleats' label into it's cint wich is '24551

In [36]:
df.drop(columns='Customer City', inplace=True)

In [37]:
# print 1st 5 rows
df.head()

,Late_risk,Category,Department,Quantity,Sales,Order Item Total,Shipping Mode,Customer Segment cat,Month,Customer City_map
48,1,Cleats,Apparel,2,119.980003,115.180000,Second Class,2,2,283
49,0,Shop By Sport,Golf,2,79.980003,79.180000,Second Class,2,10,61337
50,1,Women's Apparel,Golf,2,100.000000,96.000000,Second Class,2,3,61337
51,0,Shop By Sport,Golf,2,79.980003,75.980003,Second Class,2,10,61337
52,1,Women's Apparel,Golf,2,100.000000,91.000000,Second Class,2,11,61337

# Train/test split

In [38]:
# Import necessary Library

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error as MSE
from sklearn.model_selection import cross_val_score

In [39]:
# "Quantity" is  target/preductive  column here

# https://datascience.stackexchange.com/questions/70272/discrete-values-as-target-variable
# https://www.springboard.com/blog/data-science/regression-vs-classification/

print(df["Quantity"].unique()) # it has 7 discreat valuues are that valeus are integer 

print(df["Quantity"].dtypes)

# So it is a regression problem

[2 3 5 1 4]
int64

In [40]:
X=df.drop("Quantity", axis=1)

y=df["Quantity"]

In [41]:
print(X.shape)

print(y.shape)

(165877, 9)
(165877,)

In [42]:
SEED=0
# Split dataset into 70% train and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y,
test_size=0.2,
random_state=SEED)

In [43]:
X_train

,Late_risk,Category,Department,Sales,Order Item Total,Shipping Mode,Customer Segment cat,Month,Customer City_map
64275,1,Camping & Hiking,Fan Shop,299.980011,272.980011,Second Class,0,9,169
178500,1,Indoor/Outdoor Games,Fan Shop,199.919998,175.929993,First Class,0,4,149
120630,1,Camping & Hiking,Fan Shop,299.980011,251.979996,Standard Class,0,8,180
4503,0,Cleats,Apparel,299.950012,287.950012,Standard Class,0,5,499
101622,0,Indoor/Outdoor Games,Fan Shop,99.959999,92.959999,Standard Class,0,4,179
...,...,...,...,...,...,...,...,...,...
107994,0,Golf Balls,Outdoors,59.970001,55.770000,Standard Class,0,4,100
106278,0,Indoor/Outdoor Games,Fan Shop,49.980000,39.980000,Standard Class,1,4,61337
165918,1,Men's Footwear,Apparel,129.990005,123.489998,Second Class,2,9,655
129685,0,Cleats,Apparel,239.960007,208.770004,Standard Class,0,10,208
48645,0,Men's Footwear,Apparel,129.990005,113.089996,Second Class,1,4,424

In [44]:
X_train['Department'].unique()

array(['Fan Shop', 'Apparel', 'Golf', 'Outdoors', 'Footwear'],
      dtype=object)

In [45]:
y_train

64275     1
178500    4
120630    1
4503      5
101622    2
         ..
107994    3
106278    1
165918    1
129685    4
48645     1
Name: Quantity, Length: 132701, dtype: int64

In [46]:
X_test

,Late_risk,Category,Department,Sales,Order Item Total,Shipping Mode,Customer Segment cat,Month,Customer City_map
131756,1,Indoor/Outdoor Games,Fan Shop,99.959999,82.970001,Same Day,0,2,61337
104200,0,Water Sports,Fan Shop,199.990005,193.990005,Standard Class,2,7,1186
3059,1,Men's Footwear,Apparel,129.990005,124.790001,Standard Class,2,5,61337
99709,0,Indoor/Outdoor Games,Fan Shop,99.959999,83.970001,Standard Class,1,7,3139
124974,0,Women's Apparel,Golf,100.000000,88.000000,Same Day,0,8,61337
...,...,...,...,...,...,...,...,...,...
68988,1,Women's Apparel,Golf,250.000000,227.500000,First Class,1,1,61337
84528,1,Women's Apparel,Golf,200.000000,196.000000,Second Class,1,8,59
130490,1,Cardio Equipment,Footwear,399.959992,383.959992,Standard Class,0,4,377
147780,0,Fishing,Fan Shop,399.980011,331.980011,Same Day,2,9,61337
111167,1,Indoor/Outdoor Games,Fan Shop,49.980000,41.980000,Standard Class,1,1,61337

In [47]:
y_test

131756    2
104200    1
3059      1
99709     2
124974    2
         ..
68988     5
84528     4
130490    4
147780    1
111167    1
Name: Quantity, Length: 33176, dtype: int64

#### one Hot Encoding / Encoding dummy variables

In [48]:
from sklearn.preprocessing import OneHotEncoder

In [49]:
X_train

,Late_risk,Category,Department,Sales,Order Item Total,Shipping Mode,Customer Segment cat,Month,Customer City_map
64275,1,Camping & Hiking,Fan Shop,299.980011,272.980011,Second Class,0,9,169
178500,1,Indoor/Outdoor Games,Fan Shop,199.919998,175.929993,First Class,0,4,149
120630,1,Camping & Hiking,Fan Shop,299.980011,251.979996,Standard Class,0,8,180
4503,0,Cleats,Apparel,299.950012,287.950012,Standard Class,0,5,499
101622,0,Indoor/Outdoor Games,Fan Shop,99.959999,92.959999,Standard Class,0,4,179
...,...,...,...,...,...,...,...,...,...
107994,0,Golf Balls,Outdoors,59.970001,55.770000,Standard Class,0,4,100
106278,0,Indoor/Outdoor Games,Fan Shop,49.980000,39.980000,Standard Class,1,4,61337
165918,1,Men's Footwear,Apparel,129.990005,123.489998,Second Class,2,9,655
129685,0,Cleats,Apparel,239.960007,208.770004,Standard Class,0,10,208
48645,0,Men's Footwear,Apparel,129.990005,113.089996,Second Class,1,4,424

In [50]:
# how many unique values is there 
X_train['Shipping Mode'].unique()

array(['Second Class', 'First Class', 'Standard Class', 'Same Day'],
      dtype=object)

In [51]:
# drop 1st dummy variable to avoid dummny variable trap
ohe = OneHotEncoder(drop='first',sparse=False,dtype=np.int32) # then u do not need to use 'to_array()'
X_train_new= ohe.fit_transform(X_train[['Shipping Mode','Department','Category']])

X_test_new= ohe.fit_transform(X_test[['Shipping Mode','Department','Category']])

In [52]:
X_train_new

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]])

# Joining

In [53]:
X_train.columns

Index(['Late_risk', 'Category', 'Department', 'Sales', 'Order Item Total',
       'Shipping Mode', 'Customer Segment cat', 'Month', 'Customer City_map'],
      dtype='object')

In [54]:
# join with others columns and One hot encoded columns
X_train=np.hstack((X_train[['Late_risk',  'Sales', 'Order Item Total','Customer Segment cat', 'Month', 'Customer City_map']].values,X_train_new))

In [55]:
# dimension of X_train
X_train.shape

(132701, 26)

In [56]:
X_train

array([[  1.       , 299.980011 , 272.980011 , ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 199.9199982, 175.9299927, ...,   0.       ,
          0.       ,   0.       ],
       [  1.       , 299.980011 , 251.9799957, ...,   0.       ,
          0.       ,   0.       ],
       ...,
       [  1.       , 129.9900055, 123.4899979, ...,   0.       ,
          0.       ,   0.       ],
       [  0.       , 239.9600067, 208.7700043, ...,   0.       ,
          0.       ,   0.       ],
       [  0.       , 129.9900055, 113.0899963, ...,   0.       ,
          0.       ,   0.       ]])

In [57]:
# did not join 'Shipping Mode'
X_test=np.hstack((X_test[['Late_risk',  'Sales', 'Order Item Total','Customer Segment cat', 'Month', 'Customer City_map']].values,X_test_new))

In [58]:
X_test.shape

(33176, 26)

In [59]:
X_test

array([[  1.        ,  99.95999908,  82.97000122, ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 199.9900055 , 193.9900055 , ...,   0.        ,
          1.        ,   0.        ],
       [  1.        , 129.9900055 , 124.7900009 , ...,   0.        ,
          0.        ,   0.        ],
       ...,
       [  1.        , 399.9599915 , 383.9599915 , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        , 399.980011  , 331.980011  , ...,   0.        ,
          0.        ,   0.        ],
       [  1.        ,  49.97999954,  41.97999954, ...,   0.        ,
          0.        ,   0.        ]])

# Building Model 

## Model without hyper parameter tuning

In [60]:
# Set seed for reproducibility

SEED = 0
# Instantiate a random forests regressor with vanilla setting
rf = RandomForestRegressor( random_state=SEED,oob_score=True, min_samples_leaf= 0.1)

In [112]:
model_1=rf.fit(X_train,y_train)

In [61]:
rf.fit(X_train,y_train)

RandomForestRegressor(min_samples_leaf=0.1, oob_score=True, random_state=0)

In [62]:
# Model Prediction
y_pred = rf.predict(X_test)

# Model Performance

In [63]:
# importing performance metrics
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

#### Mean Absolute Error
the problem is this MAE equation is not differenttialbel to in the optimization problem I cant not use

In [64]:
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 0.6711676573013402

#### Mean Square Error 
There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect.

the problem of MAE is solve by MSE

it will give a number our goal is to minimize thsi number as lower as possible

Advantage:

as this equation is difentialable. so we can use it as 'loss function'

In [65]:
# There is no correct value for MSE. Simply put, the lower the value the better and 0 means the model is perfect.
print("MSE",mean_squared_error(y_test,y_pred))

MSE 0.8770177439083893

#### R2 ( Coefficient of ditermination)
it is independent of contex , like MAE, MSE,RMSE these are dependent on context, like for forecastiong 1.5 % error ok but for a self driving car it is nit ok

But R2 it is completly not depeddent on contex it it give u an absolute results

it compare how much the best fit line or regression line is better then the mean line

R2= 0 worst
R2 = 1 best
R2= negative , mean it is worse than mean line , it mean the whole forecast is bullshit. like non linaer data te linear regression algorithm diye dilam

In [66]:
# storing the r2( Coefficient of ditermination) score in s 
r2 = r2_score(y_test,y_pred)
print(r2)

0.5912143382934041

#### Root Mean square Error
In deep learing we use it a lot sometimes if u use all then it is not feassible cause some errom minimize one where other error increase another metrics, Better to use all and have a close look


Based on a rule of thumb, it can be said that RMSE values between 0.2 and 0.5 shows that the model can relatively predict the data accurately. In addition, Adjusted R-squared more than 0.75 is a very good value for showing the accuracy.


https://www.researchgate.net/post/Whats-the-acceptable-value-of-Root-Mean-Square-Error-RMSE-Sum-of-Squares-due-to-error-SSE-and-Adjusted-R-square#:~:text=Based%20on%20a%20rule%20of,value%20for%20showing%20the%20accuracy.

In [67]:
# do direct function for RMSE so we use np.sqrt()
# when u have the outlier it is a better metrics 
print("RMSE",np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE 0.9364922551246162

###  Model Performance using Cross Validation

CV score metris for "scoring"
https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [68]:
# MSE for train dataset
MSE_CV_train = - cross_val_score(rf, X_train, y_train, cv= 5, scoring='neg_mean_squared_error', n_jobs = -1)
print("MSE_CV_train = ", np.mean(MSE_CV_train))

MSE_CV_train =  0.8751983786667484

In [69]:
# r2 for train dataset
r2_train =  cross_val_score(rf, X_train, y_train, cv= 5, scoring='r2', n_jobs = -1)
print("r2_train = ", np.mean(r2_train))

r2_train =  0.590918375366051

In [70]:
# RMSE for train dataset
RMSE_train = - cross_val_score(rf, X_train, y_train, cv= 5, scoring='neg_root_mean_squared_error', n_jobs = -1)
print("RMSE_train = ", np.mean(RMSE_train))

RMSE_train =  0.9355136138198954

### for test data set

In [71]:
# MSE for train dataset
MSE_CV_test = - cross_val_score(rf, X_test, y_test, cv= 5, scoring='neg_mean_squared_error', n_jobs = -1)
print("MSE_CV_test = ", np.mean(MSE_CV_test))

MSE_CV_test =  0.8772389515692799

In [72]:
# r2 for train dataset
r2_test =  cross_val_score(rf, X_test, y_test, cv= 5, scoring='r2', n_jobs = -1)
print("r2_train = ", np.mean(r2_test))

r2_train =  0.591072689521537

In [73]:
# RMSE for train dataset
RMSE_test = - cross_val_score(rf, X_test, y_test, cv= 5, scoring='neg_root_mean_squared_error', n_jobs = -1)
print("RMSE_train = ", np.mean(RMSE_test))

RMSE_train =  0.9365815921315942

# Hyper parameter Tuning 

## GridSearchCV

In [75]:
# importing GridSearchCV For HyperParameter Tuning
from sklearn.model_selection import GridSearchCV


# for measuring the run time 
import time

In [76]:
# Number of trees in random forest
n_estimators = [200, 300,400]

# Number of features to consider at every split
max_features = [0.2,0.6,0.8,1]

# Maximum number of levels in tree
max_depth = [2,8, None]

# Number of samples
max_samples = [0.5,0.6,0.75]

# minimum number of samples required to be at a leaf node.
min_samples_leaf=[0.10,0.15, 0.20]

# Minimum number of samples required to split a node
min_samples_split = [2, 3, 5]

# for one combination one model 
#  729 different random forest model train

In [77]:
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
              'max_samples':max_samples,
              'min_samples_leaf':min_samples_leaf,
              'min_samples_split':min_samples_split
             }
print(param_grid)

{'n_estimators': [200, 300, 400], 'max_features': [0.2, 0.6, 0.8, 1], 'max_depth': [2, 8, None], 'max_samples': [0.5, 0.6, 0.75], 'min_samples_leaf': [0.1, 0.15, 0.2], 'min_samples_split': [2, 3, 5]}

In [78]:
# Set seed for reproducibility
SEED_T=1111
# Instantiate a random forests regressor 
rf_tune = RandomForestRegressor( random_state=SEED_T)

In [79]:
# Instantiate GridSearchCV
rf_grid = GridSearchCV(estimator = rf_tune, 
                       param_grid= param_grid, 
                       cv = 5, 
                       verbose=2, 
                       n_jobs = -1)

In [80]:


# measure starting time 
start = time.time()

# train  GridSearchCV
rf_grid.fit(X_train,y_train)

# measure end time 
end = time.time()

# measure elapse time 
print(end - start)

Fitting 5 folds for each of 972 candidates, totalling 4860 fits
11281.931797027588

In [85]:
# Getting best model's Parameter 
rf_grid.best_params_

{'max_depth': 8,
 'max_features': 0.8,
 'max_samples': 0.75,
 'min_samples_leaf': 0.1,
 'min_samples_split': 2,
 'n_estimators': 200}

In [86]:
# Best model score
rf_grid.best_score_

0.5454720875017728

### Work with best model

In [87]:
 # Set seed for reproducibility
SEED_TT=2222
# Instantiate a random forests regressor 
rf_best_g = RandomForestRegressor( random_state=SEED_TT, oob_score=True,max_depth= 8,max_features= 0.8,max_samples= 0.75,min_samples_leaf= 0.1,min_samples_split= 2,n_estimators=  200)

# Performance of the  best mode on train data

In [88]:
# MSE for train dataset
MSE_CV_train = - cross_val_score(rf_best_g, X_train, y_train, cv= 5, scoring='neg_mean_squared_error', n_jobs = -1)
print("MSE_CV_train = ", np.mean(MSE_CV_train))

MSE_CV_train =  0.9772778600997121

In [89]:
# r2 for train dataset
r2_train =  cross_val_score(rf_best_g, X_train, y_train, cv= 5, scoring='r2', n_jobs = -1)
print("r2_train = ", np.mean(r2_train))

r2_train =  0.5432064700300577

https://medium.com/analytics-vidhya/how-to-judge-a-machine-learning-model-part-1-ca5074a12c69#:~:text=RMSE%20gives%20you%20the%20error,0.9%20of%20a%20good%20model.



RMSE could be more that 1. that's just mean that your model couldn't find a solution or (optimized very well). It means that the squared root of squared differences between your predictions and observed values is 11. Naturally lower values indicate a better fit of your model.


Lower values of RMSE indicate better fit. RMSE is a good measure of how accurately the model predicts the response. It's the most important criterion for fit if the main purpose of the model is prediction. The best measure of model fit depends on the researcher's objectives, and more than one are often useful.

In [90]:
# RMSE for train dataset
RMSE_train = - cross_val_score(rf_best_g, X_train, y_train, cv= 5, scoring='neg_root_mean_squared_error', n_jobs = -1)
print("RMSE_train = ", np.mean(RMSE_train))

RMSE_train =  0.9885626265522056

# Performance of the  best mode on test data

In [91]:
# MSE for test dataset
MSE_CV_test = - cross_val_score(rf_best_g, X_test, y_test, cv= 5, scoring='neg_mean_squared_error', n_jobs = -1)
print("MSE_CV_test = ", np.mean(MSE_CV_test))

MSE_CV_test =  0.9749936535022308

In [92]:
# r2 for test dataset
r2_test =  cross_val_score(rf_best_g, X_test, y_test, cv= 5, scoring='r2', n_jobs = -1)
print("r2_test = ", np.mean(r2_test))

r2_test =  0.545521459077993

In [93]:
# RMSE for test dataset
RMSE_test = - cross_val_score(rf_best_g, X_test, y_test, cv= 5, scoring='neg_root_mean_squared_error', n_jobs = -1)
print("RMSE_test = ", np.mean(RMSE_test))

RMSE_test =  0.9873745858010322

## RandomSearchCV

In [97]:
# importing RandomizedSearchCV For HyperParameter Tuning
from sklearn.model_selection import RandomizedSearchCV

In [98]:
# Set seed for reproducibility
SEED_TTT=33
# Instantiate a random forests regressor 
rf_tune = RandomForestRegressor( random_state=SEED_TTT)

In [99]:
rf_R_grid = RandomizedSearchCV(estimator = rf_tune, 
                       param_distributions= param_grid, 
                       cv = 10, 
                       verbose=2, 
                       n_jobs = -1)

In [100]:
# measuring starting time 
start = time.time()

# fitting the model
rf_R_grid.fit(X_train,y_train)

# measuring end time 

end = time.time()

# printing laps time 
print(end - start)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
337.3639442920685

In [101]:
# Getting best model's Parameter 
rf_R_grid.best_params_

{'n_estimators': 200,
 'min_samples_split': 2,
 'min_samples_leaf': 0.1,
 'max_samples': 0.6,
 'max_features': 0.8,
 'max_depth': 2}

In [102]:
# Best model score
rf_R_grid.best_score_

0.5280148070007218

# working with best model   from Random Search

In [103]:
# Set seed for reproducibility
SEED_TTTT=4444
# Instantiate a random forests regressor 
rf_best_r_g = RandomForestRegressor( random_state=SEED_TTTT,oob_score=True,
                                 n_estimators= 200,
                                 min_samples_split= 2,
                                 min_samples_leaf= 0.1,
                                 max_samples= 0.6,
                                 max_features= 0.8,
                                 max_depth= 2)

# Performance on train data

In [104]:
# MSE for train dataset
MSE_CV_train = - cross_val_score(rf_best_r_g, X_train, y_train, cv= 5, scoring='neg_mean_squared_error', n_jobs = -1)
print("MSE_CV_train = ", np.mean(MSE_CV_train))

MSE_CV_train =  0.9955043420663928

In [105]:
# r2 for train dataset
r2_train =  cross_val_score(rf_best_r_g, X_train, y_train, cv= 5, scoring='r2', n_jobs = -1)
print("r2_train = ", np.mean(r2_train))

r2_train =  0.534687293205215

In [106]:
# RMSE for train dataset
RMSE_train = - cross_val_score(rf_best_r_g, X_train, y_train, cv= 5, scoring='neg_root_mean_squared_error', n_jobs = -1)
print("RMSE_train = ", np.mean(RMSE_train))

RMSE_train =  0.9977368882789552

# Performance on test Data

In [107]:
# MSE for test dataset
MSE_CV_test = - cross_val_score(rf_best_r_g, X_test, y_test, cv= 5, scoring='neg_mean_squared_error', n_jobs = -1)
print("MSE_CV_test = ", np.mean(MSE_CV_test))

MSE_CV_test =  0.9997770764456888

In [108]:
# r2 for test dataset
r2_test =  cross_val_score(rf_best_r_g, X_test, y_test, cv= 5, scoring='r2', n_jobs = -1)
print("r2_test = ", np.mean(r2_test))

r2_test =  0.5339513526751863

In [109]:
# RMSE for test dataset
RMSE_test = - cross_val_score(rf_best_r_g, X_test, y_test, cv= 5, scoring='neg_root_mean_squared_error', n_jobs = -1)
print("RMSE_test = ", np.mean(RMSE_test))

RMSE_test =  0.9998571771528642

# OBB score

In [113]:
# OBB score of vanilla setting model

print("OBB score of vanilla setting model  " ,model_1.oob_score_)


# OBB score of GridseachCV  best hyperparameter model

model_2 =rf_best_g.fit(X_train, y_train)

print("OBB score of GridseachCV  " , model_2.oob_score_)


# OBB score of Random seachCV  best hyperparameter model

model_3=rf_best_r_g.fit(X_train, y_train)

print("OBB score of Random seachCV  " , model_3.oob_score_)

OBB score of vanilla setting model   0.5909240750909164
OBB score of GridseachCV   0.5430205265930661
OBB score of Random seachCV   0.5343924822448015

# Save Model
https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [115]:
import pickle

In [116]:
# save the  vanilla model to disk
filename1 = 'vanilla_RF_model.sav'
pickle.dump(model_1, open(filename1, 'wb'))

In [117]:
# save the  GridSearch CV best parameter  model to disk
filename2 = 'GridSearch_RF_model.sav'
pickle.dump(model_2, open(filename2, 'wb'))

In [118]:
# save the   RandomSearch CV best parameter to disk
filename3 = 'Random_Search_RF_model.sav'
pickle.dump(model_3, open(filename3, 'wb'))

# Feature Selection